* {
    box-sizing: border-box;
    max-width: 500px;
    margin: auto;  
    
}

body {
    margin: auto;
    font-family: 'Poppins', sans-serif;
    max-width: 500px;
    padding: 20px 0px;
    margin: 20px 0px;
    color: white;
}

.my-digital-card {
    width: 300px;
    font-size: 14px;
    background-color: #1a1b21f4;


}
.profile--image {
    width: 100%;
    border-radius: 0px 0px 9px 9px;
   
}

.btn {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.info {
    text-align: center;
    
}

.interest {
    margin: 20px 0px;
    padding: 0px 15px;
    

}

p {
    font-size: 13px;
}

.About {
    padding: 0px 15px;
   
}


h3 {
    font-size: 22px;
    margin-bottom: 2px;
}

.footer {
   display: flex;
   padding: 10px 0px;
   background-color: #161619;
   padding: 20px 0px;
   
}